body {
  background-color: #ffffff;
  /* Primary: #FFFFFF */
  color: #02293A;
  /* Secondary: #02293A */
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 0;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 100vh;
}




.HomeCard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 10em;
  text-align: center;
}

.HomeCard2 {
  display: inline-flex;
  margin-top: 2em;
  margin-left: 2em;
}